@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.MuiDataGrid-columnHeaderCheckbox .MuiSvgIcon-root {
  color: white !important;
}

.MuiDataGrid-columnHeaderCheckbox svg {
  color: white !important;
}

/* [data-sonner-toast] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[data-sonner-toast] [data-close-button] {
  margin-left: auto;
} */

/* Custom scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Width of vertical scrollbar */
  height: 8px; /* Height of horizontal scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #363636; /* Scroll thumb color */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #0c3978; /* Thumb hover color */
}


/* Hide date format hint when input is empty (Chrome/Webkit only) */
input[type="date"]:not(:focus):placeholder-shown::-webkit-datetime-edit-text,
input[type="date"]:not(:focus):placeholder-shown::-webkit-datetime-edit-month-field,
input[type="date"]:not(:focus):placeholder-shown::-webkit-datetime-edit-day-field,
input[type="date"]:not(:focus):placeholder-shown::-webkit-datetime-edit-year-field {
  color: transparent;
}

/* Ensure selected date is visible */
input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: #000;
}


/* input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="date"]::-ms-clear {
  display: none;
}
input[type="date"]::-ms-expand {
  display: none;
} */