@import "tailwindcss";

/* Base (default to light theme) */
:root {
  --background: #ffffff;   /* white */
  --foreground: #171717;   /* dark gray text */
}

.dark {
  --background: #171717;   /* dark gray background */
  --foreground: #ffffff;   /* white text */
}

/* Explicit light theme */
[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
}

/* Explicit dark theme */
[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Tailwind inline theme vars */
/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* transition: background 0.3s ease, color 0.3s ease; */
}

.MuiDataGrid-columnHeaderCheckbox .MuiSvgIcon-root {
  color: white !important;
}

.MuiDataGrid-columnHeaderCheckbox svg {
  color: white !important;
}

/* Custom scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Width of vertical scrollbar */
  height: 8px; /* Height of horizontal scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #363636; /* Scroll thumb color */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #0c3978; /* Thumb hover color */
}

/* Hide Chrome/Edge/Safari's native DD-MM-YYYY hint when empty */
input[type="date"]::-webkit-datetime-edit {
  color: transparent;
}

/* Show black text after a date is selected */
input[type="date"]:valid::-webkit-datetime-edit {
  color: #000;
}

/* Firefox fallback */
input[type="date"]::placeholder {
  color: transparent;
}
